In [1]:
import os
import sys
import gc
import warnings

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from tqdm import tqdm
from functools import partial
from scipy.stats import skew, kurtosis, iqr
from sklearn.externals import joblib

%matplotlib inline

In [2]:
pd.options.display.max_columns = None

In [4]:
PATH = os.path.join('..', 'input')

train = pd.read_csv(os.path.join(PATH, 'train.csv'))
test = pd.read_csv(os.path.join(PATH, 'test.csv'))

In [5]:
categorical_columns = [col for col in train.columns if train[col].dtype == 'object']

In [6]:
categorical_columns

['first_active_month', 'card_id']

In [26]:
train = train.sort_values('first_active_month').reset_index(drop=True)

In [27]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,outliers_mean,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_weekofyear,first_active_month_quarter,elapsed_time,days_feature_1,days_feature_2,days_feature_3
0,2011-11-01,C_ID_f25b3d3f13,3,1,1,0.645766,0.007070,2011,1,11,44,4,2284,6852,2284,2284
1,2011-11-01,C_ID_2dbbc2b7fd,3,3,1,-0.069560,0.016459,2011,1,11,44,4,2284,6852,6852,2284
2,2011-11-01,C_ID_0a70866829,3,1,1,-2.544361,0.007070,2011,1,11,44,4,2284,6852,2284,2284
3,2011-11-01,C_ID_08cb8e0333,3,3,1,-3.573636,0.016459,2011,1,11,44,4,2284,6852,6852,2284
4,2011-11-01,C_ID_d26de4d1bf,3,3,1,-0.693447,0.016459,2011,1,11,44,4,2284,6852,6852,2284

In [28]:
test = test.sort_values('first_active_month').reset_index(drop=True)

In [29]:
test.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,outliers_mean,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_weekofyear,first_active_month_quarter,elapsed_time,days_feature_1,days_feature_2,days_feature_3
0,2011-11-01,C_ID_b3334831be,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
1,2011-11-01,C_ID_af9b01c5b0,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
2,2011-11-01,C_ID_22f6678098,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
3,2011-12-01,C_ID_1ed74e7415,3,3,1,0.016459,2011,3,12,48,4,2254,6762,6762,2254
4,2011-12-01,C_ID_dcdf88cb4d,3,1,1,0.007070,2011,3,12,48,4,2254,6762,2254,2254

In [30]:
train.nunique()

first_active_month                   75
card_id                          201917
feature_1                             5
feature_2                             3
feature_3                             2
target                           197110
outliers_mean                        14
first_active_month_year               8
first_active_month_weekday            7
first_active_month_month             12
first_active_month_weekofyear        21
first_active_month_quarter            4
elapsed_time                         75
days_feature_1                      224
days_feature_2                      177
days_feature_3                       75
dtype: int64

In [31]:
test.nunique()

first_active_month                   75
card_id                          123623
feature_1                             5
feature_2                             3
feature_3                             2
outliers_mean                        14
first_active_month_year               8
first_active_month_weekday            7
first_active_month_month             12
first_active_month_weekofyear        21
first_active_month_quarter            4
elapsed_time                         75
days_feature_1                      223
days_feature_2                      171
days_feature_3                       76
dtype: int64

In [17]:
historical_transactions = pd.read_csv('../remove_outlier_data/historical_transactions.csv')

In [33]:
historical_transactions.nunique()

authorized_flag                2
card_id                   325540
city_id                      308
category_1                     2
installments                  14
category_3                     4
merchant_category_id         327
merchant_id               326311
month_lag                     14
purchase_amount           215013
purchase_date           16395299
category_2                     5
state_id                      25
subsector_id                  41
dtype: int64

In [35]:
historical_transactions = historical_transactions.sort_values('purchase_date').reset_index(drop=True)

In [36]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_da2090f28e,69,1,0,0,623,M_ID_f001319a61,-11,-0.686802,2017-01-01 00:00:08,1.0,9,4
1,1,C_ID_efced389a0,76,1,1,1,842,M_ID_18038b5ae7,-12,-0.566590,2017-01-01 00:00:59,3.0,2,37
2,1,C_ID_83561fe74a,233,1,1,1,661,M_ID_52d3026407,-13,-0.559227,2017-01-01 00:01:41,1.0,9,8
3,1,C_ID_479fd6392a,-1,0,1,1,839,M_ID_e5374dabc0,-1,-0.737892,2017-01-01 00:02:03,NaN,-1,29
4,1,C_ID_1cf6056088,69,1,0,0,278,M_ID_2cf6dc1f6f,-4,0.004418,2017-01-01 00:02:12,1.0,9,37

In [24]:
new_merchant_transactions = pd.read_csv(os.path.join('../input', 'new_merchant_transactions.csv'))

In [8]:
new_merchant_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [9]:
new_merchant_transactions.nunique()

authorized_flag               1
card_id                  290001
city_id                     308
category_1                    2
installments                 15
category_3                    3
merchant_category_id        314
merchant_id              226129
month_lag                     2
purchase_amount           75190
purchase_date           1667025
category_2                    5
state_id                     25
subsector_id                 41
dtype: int64

In [6]:
new_merchant_transactions.authorized_flag.unique()

array([1])

In [4]:
merchants = pd.read_csv('../remove_outlier_data/merchants.csv')

In [5]:
merchants.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.05746,-0.05746,0,1,1,-0.40,9.666667,3,-2.25,18.666667,6,-2.32,13.916667,12,0,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.05746,-0.05746,0,1,1,-0.72,1.750000,3,-0.74,1.291667,6,-0.57,1.687500,12,0,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.05746,-0.05746,0,1,1,-82.13,260.000000,2,-82.13,260.000000,2,-82.13,260.000000,2,0,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.05746,-0.05746,1,1,1,NaN,1.666667,3,NaN,4.666667,6,NaN,3.833333,12,1,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.05746,-0.05746,1,1,1,NaN,0.500000,3,NaN,0.361111,6,NaN,0.347222,12,1,-1,-1,NaN

In [6]:
merchants.nunique()

merchant_id                    334633
merchant_group_id              109391
merchant_category_id              324
subsector_id                       41
numerical_1                       950
numerical_2                       944
category_1                          2
most_recent_sales_range             5
most_recent_purchases_range         5
avg_sales_lag3                   3372
avg_purchases_lag3             100003
active_months_lag3                  3
avg_sales_lag6                   4507
avg_purchases_lag6             135202
active_months_lag6                  6
avg_sales_lag12                  5009
avg_purchases_lag12            172917
active_months_lag12                12
category_4                          2
city_id                           271
state_id                           25
category_2                          5
dtype: int64

In [7]:
features = []

features += [f'f10{i}.pkl' for i in (2, 4)]
features += [f'f11{i}_{j}.pkl' for i in (1, 2) 
                               for j in ('Y', 'N')]
features += [f'f12{i}.pkl' for i in (1,)]
features += [f'f13{i}.pkl' for i in (1, 2)]

features += [f'f20{i}.pkl' for i in (2,)]
features += [f'f23{i}.pkl' for i in (1, 2)]

features += [f'f30{i}.pkl' for i in (2, 3, 4,)]

In [9]:
KEY = 'card_id'

train = pd.read_csv(os.path.join(PATH, 'train.csv'))
test = pd.read_csv(os.path.join(PATH, 'test.csv'))

for f in tqdm(features):
    t = pd.read_pickle(os.path.join('..', 'remove_outlier_feature', f))
    train = pd.merge(train, t, on=KEY, how='left')
    test = pd.merge(test, t, on=KEY, how='left')

100%|██████████| 15/15 [00:09<00:00,  1.60it/s]

In [10]:
cols = train.columns.values
for f in [
    'new_purchase_date_max', 'new_purchase_date_min',
    'hist_purchase_date_max', 'hist_purchase_date_min', 
    'Y_hist_auth_purchase_date_max', 'Y_hist_auth_purchase_date_min', 
    'N_hist_auth_purchase_date_max', 'N_hist_auth_purchase_date_min',
    'Y_new_auth_purchase_date_max', 'Y_new_auth_purchase_date_min', 
    'N_new_auth_purchase_date_max', 'N_new_auth_purchase_date_min',
]:
    if f in cols:
        train[f] = train[f].astype(np.int64) * 1e-9
        test[f] = test[f].astype(np.int64) * 1e-9

In [14]:
y = train['target']
del train['target']

In [11]:
train.nunique()

first_active_month                                 75
card_id                                        201917
feature_1                                           5
feature_2                                           3
feature_3                                           2
target                                          19435
hist_transactions_count                          1023
hist_category_1_sum                              1014
hist_category_1_mean                             2669
hist_category_2_nunique                             6
hist_category_3_nunique                             4
hist_merchant_id_nunique                          313
hist_state_id_nunique                              20
hist_subsector_id_nunique                          34
hist_city_id_nunique                               58
hist_merchant_category_id_nunique                  92
hist_installments_nunique                          13
hist_installments_mean                           7208
hist_installments_std                            6692
hist_purchase_amount_sum                       199346
hist_purchase_amount_mean                       10618
hist_purchase_amount_max                        74898
hist_purchase_amount_min                         1099
hist_purchase_amount_std                        10885
hist_purchase_month_median                         23
hist_purchase_month_max                            11
hist_purchase_month_min                            11
hist_purchase_month_std                          3718
hist_purchase_date_max                         186997
hist_purchase_date_min                         193984
                                                ...
new_cumsum_count_purchase_amount0                  60
new_cumsum_count_purchase_amount1                  87
new_mean_installments_1                           591
new_mean_installments_2                           543
sum_numerical_sum                              198140
sum_numerical_mean                             197611
rate_lag3_sum                                  201280
rate_lag3_mean                                 201031
rate_lag6_sum                                  201274
rate_lag6_mean                                 201001
rate_lag12_sum                                 201279
rate_lag12_mean                                201026
hist_merchants_merchant_group_id_nunique          219
hist_merchants_merchant_category_id_nunique        87
hist_merchants_numerical_1_sum                  21362
hist_merchants_numerical_1_mean                 16841
hist_merchants_numerical_2_sum                  21254
hist_merchants_numerical_2_mean                 16823
hist_merchants_category_1_sum                     383
hist_merchants_category_2_mean                   2247
hist_merchants_category_4_sum                     854
new_merchants_merchant_group_id_nunique            69
new_merchants_merchant_category_id_nunique         39
new_merchants_numerical_1_sum                   13225
new_merchants_numerical_1_mean                  13659
new_merchants_numerical_2_sum                   13264
new_merchants_numerical_2_mean                  13510
new_merchants_category_1_sum                       20
new_merchants_category_2_mean                    1647
new_merchants_category_4_sum                       63
Length: 268, dtype: int64

In [15]:
for f in train.columns:
    print(f, train[f].nunique(), test[f].nunique())

first_active_month 75 75
card_id 201917 123623
feature_1 5 5
feature_2 3 3
feature_3 2 2
hist_transactions_count 1023 943
hist_category_1_sum 1014 922
hist_category_1_mean 2669 2356
hist_category_2_nunique 6 6
hist_category_3_nunique 4 4
hist_merchant_id_nunique 313 296
hist_state_id_nunique 20 19
hist_subsector_id_nunique 34 34
hist_city_id_nunique 58 49
hist_merchant_category_id_nunique 92 87
hist_installments_nunique 13 13
hist_installments_mean 7208 6294
hist_installments_std 6692 6460
hist_purchase_amount_sum 199346 122654
hist_purchase_amount_mean 10618 8478
hist_purchase_amount_max 74898 51993
hist_purchase_amount_min 1099 913
hist_purchase_amount_std 10885 9858
hist_purchase_month_median 23 23
hist_purchase_month_max 11 11
hist_purchase_month_min 11 11
hist_purchase_month_std 3718 3609
hist_purchase_date_max 186997 117307
hist_purchase_date_min 193984 119481
hist_month_diff_median 27 27
hist_month_diff_max 14 14
hist_month_diff_min 14 14
hist_month_diff_std 2107 1998
hist_purchase_date_diff 422 420
hist_purchase_date_average 7289 6940
hist_purchase_date_uptonow 391 388
hist_last_180_installments_mean 12428 9809
hist_last_180_installments_std 61772 41349
hist_last_180_purchase_amount_mean 183131 112400
hist_last_180_purchase_amount_std 181855 111521
hist_last_180_purchase_amount_sum 183409 112569
hist_last_30_installments_mean 2063 1653
hist_last_30_installments_std 8911 6202
hist_last_30_purchase_amount_mean 122848 76005
hist_last_30_purchase_amount_std 116642 71714
hist_last_30_purchase_amount_sum 123775 76611
hist_last_7_installments_mean 549 458
hist_last_7_installments_std 1600 1138
hist_last_7_purchase_amount_mean 71740 45066
hist_last_7_purchase_amount_std 63173 39083
hist_last_7_purchase_amount_sum 73112 45839
hist_last_90_installments_mean 6647 5320
hist_last_90_installments_std 34129 23258
hist_last_90_purchase_amount_mean 162770 100189
hist_last_90_purchase_amount_std 159815 98226
hist_last_90_purchase_amount_sum 163265 100472
Y_hist_auth_category_1_sum 956 887
Y_hist_auth_category_1_mean 2345 2015
Y_hist_auth_category_2_nunique 6 6
Y_hist_auth_category_3_nunique 3 3
Y_hist_auth_merchant_id_nunique 317 298
Y_hist_auth_state_id_nunique 20 20
Y_hist_auth_subsector_id_nunique 34 34
Y_hist_auth_city_id_nunique 58 49
Y_hist_auth_merchant_category_id_nunique 89 87
Y_hist_auth_installments_nunique 13 12
Y_hist_auth_installments_mean 2729 2504
Y_hist_auth_installments_std 5472 5205
Y_hist_auth_purchase_amount_sum 15288 13116
Y_hist_auth_purchase_amount_mean 9191 7391
Y_hist_auth_purchase_amount_max 15545 13876
Y_hist_auth_purchase_amount_min 1146 945
Y_hist_auth_purchase_amount_std 10102 9319
Y_hist_auth_purchase_month_median 23 23
Y_hist_auth_purchase_month_max 11 11
Y_hist_auth_purchase_month_min 11 11
Y_hist_auth_purchase_month_std 3717 3602
Y_hist_auth_purchase_date_max 187569 117542
Y_hist_auth_purchase_date_min 193881 119395
Y_hist_auth_month_diff_median 29 29
Y_hist_auth_month_diff_max 14 14
Y_hist_auth_month_diff_min 14 15
Y_hist_auth_month_diff_std 2730 2590
Y_hist_auth_purchase_date_diff 423 420
Y_hist_auth_purchase_date_average 7287 6937
Y_hist_auth_purchase_date_uptonow 390 388
N_hist_auth_category_1_sum 160 143
N_hist_auth_category_1_mean 1283 1031
N_hist_auth_category_2_nunique 6 6
N_hist_auth_category_3_nunique 4 4
N_hist_auth_merchant_id_nunique 55 53
N_hist_auth_state_id_nunique 11 13
N_hist_auth_subsector_id_nunique 21 21
N_hist_auth_city_id_nunique 17 19
N_hist_auth_merchant_category_id_nunique 34 33
N_hist_auth_installments_nunique 12 11
N_hist_auth_installments_mean 3101 2554
N_hist_auth_installments_std 4143 3812
N_hist_auth_purchase_amount_sum 141059 89829
N_hist_auth_purchase_amount_mean 128076 82488
N_hist_auth_purchase_amount_max 50708 36601
N_hist_auth_purchase_amount_min 20271 15533
N_hist_auth_purchase_amount_std 136387 84147
N_hist_auth_purchase_month_median 23 23
N_hist_auth_purchase_month_max 12 12
N_hist_auth_purchase_month_min 12 12
N_hist_auth_purchase_month_std 3068 2804
N_hist_auth_purchase_date_max 166633 102442
N_hist_auth_purchase_date_min 167290 102645
N_hist_auth_month_diff_median 29 29
N_hist_auth_month_diff_max 15 15
N_hist_auth_month_diff_min 15 15
N_hist_auth_month_diff_std 1152 964
N_hist_auth_purchase_date_diff 424 424
N_hist_auth_purchase_date_average 8187 7559
N_hist_auth_purchase_date_uptonow 424 424
hist_Y_month_lag_mean 281 279
hist_Y_month_lag_std 756 740
hist_Y_purchase_amount_min_mean 6763 5224
hist_Y_purchase_amount_min_std 13004 12238
hist_Y_purchase_amount_max_mean 15640 13852
hist_Y_purchase_amount_max_std 11208 10397
hist_Y_purchase_amount_mean_mean 10091 8223
hist_Y_purchase_amount_mean_std 11255 10513
hist_Y_purchase_amount_std_mean 9919 9197
hist_Y_purchase_amount_std_std 11457 10586
hist_Y_installments_mean_mean 2733 2614
hist_Y_installments_mean_std 8071 7625
hist_Y_installments_sum_mean 2990 2833
hist_Y_installments_sum_std 5119 4839
hist_Y_installments_std_mean 6735 6246
hist_Y_installments_std_std 5823 5427
hist_N_month_lag_mean 283 282
hist_N_month_lag_std 763 752
hist_N_purchase_amount_min_mean 98438 66146
hist_N_purchase_amount_min_std 118180 74016
hist_N_purchase_amount_max_mean 109758 72629
hist_N_purchase_amount_max_std 120995 75421
hist_N_purchase_amount_mean_mean 127219 82031
hist_N_purchase_amount_mean_std 125923 77900
hist_N_purchase_amount_std_mean 12721 11684
hist_N_purchase_amount_std_std 73447 45449
hist_N_installments_mean_mean 5131 4215
hist_N_installments_mean_std 5782 5102
hist_N_installments_sum_mean 1419 1191
hist_N_installments_sum_std 4386 3740
hist_N_installments_std_mean 5134 4463
hist_N_installments_std_std 4634 3953
hist_1_2017_rate 562 477
hist_2_2017_rate 1348 1194
hist_3_2017_rate 1669 1529
hist_4_2017_rate 2093 1921
hist_5_2017_rate 2306 2121
hist_6_2017_rate 2585 2383
hist_7_2017_rate 2903 2662
hist_8_2017_rate 3188 2942
hist_9_2017_rate 3302 3141
hist_10_2017_rate 3445 3255
hist_11_2017_rate 3554 3407
hist_12_2017_rate 3710 3564
hist_1_2018_rate 3545 3449
hist_2_2018_rate 3328 3246
hist_cumusum_sum_purchase_amount0 38484 23910
hist_cumusum_sum_purchase_amount1 52815 32649
hist_cumusum_sum_purchase_amount2 64846 40161
hist_cumusum_sum_purchase_amount3 76104 47065
hist_cumusum_sum_purchase_amount4 87448 53907
hist_cumusum_sum_purchase_amount5 99820 61491
hist_cumusum_sum_purchase_amount6 114230 70159
hist_cumusum_sum_purchase_amount7 130203 79883
hist_cumusum_sum_purchase_amount8 147485 90748
hist_cumusum_sum_purchase_amount9 165317 101763
hist_cumusum_sum_purchase_amount10 183910 113012
hist_cumusum_sum_purchase_amount11 199905 122533
hist_cumusum_sum_purchase_amount12 201637 123496
hist_cumusum_sum_purchase_amount13 201701 123536
hist_cumsum_count_purchase_amount0 114 111
hist_cumsum_count_purchase_amount1 194 181
hist_cumsum_count_purchase_amount2 284 261
hist_cumsum_count_purchase_amount3 346 326
hist_cumsum_count_purchase_amount4 421 389
hist_cumsum_count_purchase_amount5 485 455
hist_cumsum_count_purchase_amount6 544 512
hist_cumsum_count_purchase_amount7 614 576
hist_cumsum_count_purchase_amount8 699 642
hist_cumsum_count_purchase_amount9 759 709
hist_cumsum_count_purchase_amount10 825 767
hist_cumsum_count_purchase_amount11 900 831
hist_cumsum_count_purchase_amount12 957 875
hist_cumsum_count_purchase_amount13 1023 943
hist_mean_installments_13 1018 825
hist_mean_installments_12 1055 886
hist_mean_installments_11 1223 1040
hist_mean_installments_10 1200 1014
hist_mean_installments_9 1286 1104
hist_mean_installments_8 1387 1176
hist_mean_installments_7 1550 1310
hist_mean_installments_6 1675 1386
hist_mean_installments_5 1712 1452
hist_mean_installments_4 1736 1479
hist_mean_installments_3 1965 1666
hist_mean_installments_2 2051 1770
hist_mean_installments_1 1983 1707
hist_mean_installments_0 1883 1547
new_transactions_count 87 80
new_category_1_sum 88 81
new_category_1_mean 229 189
new_category_2_nunique 6 6
new_category_3_nunique 4 4
new_merchant_id_nunique 87 79
new_state_id_nunique 13 14
new_subsector_id_nunique 24 23
new_city_id_nunique 26 24
new_merchant_category_id_nunique 39 39
new_installments_nunique 9 9
new_installments_mean 1062 910
new_installments_std 2960 2590
new_purchase_amount_sum 13169 11204
new_purchase_amount_mean 9079 7295
new_purchase_amount_max 11559 9811
new_purchase_amount_min 3863 3073
new_purchase_amount_std 10264 9646
new_purchase_month_median 23 23
new_purchase_month_max 12 12
new_purchase_month_min 12 12
new_purchase_month_std 603 519
new_purchase_date_max 173712 107353
new_purchase_date_min 172919 107031
new_month_diff_median 27 27
new_month_diff_max 14 14
new_month_diff_min 14 14
new_month_diff_std 480 410

new_purchase_date_diff 62 62
new_purchase_date_average 1252 1160
new_purchase_date_uptonow 406 401
new_cumusum_sum_purchase_amount0 72398 49986
new_cumusum_sum_purchase_amount1 105796 72351
new_cumsum_count_purchase_amount0 60 53
new_cumsum_count_purchase_amount1 87 80
new_mean_installments_1 591 498
new_mean_installments_2 543 441
sum_numerical_sum 198140 121484
sum_numerical_mean 197611 121128
rate_lag3_sum 201280 123266
rate_lag3_mean 201031 123090
rate_lag6_sum 201274 123266
rate_lag6_mean 201001 123075
rate_lag12_sum 201279 123266
rate_lag12_mean 201026 123091
hist_merchants_merchant_group_id_nunique 219 215
hist_merchants_merchant_category_id_nunique 87 82
hist_merchants_numerical_1_sum 21362 19186
hist_merchants_numerical_1_mean 16841 15285
hist_merchants_numerical_2_sum 21254 19077
hist_merchants_numerical_2_mean 16823 15317
hist_merchants_category_1_sum 383 336
hist_merchants_category_2_mean 2247 2173
hist_merchants_category_4_sum 854 795
new_merchants_merchant_group_id_nunique 69 61
new_merchants_merchant_category_id_nunique 39 39
new_merchants_numerical_1_sum 13225 12411
new_merchants_numerical_1_mean 13659 12514
new_merchants_numerical_2_sum 13264 12274
new_merchants_numerical_2_mean 13510 12391
new_merchants_category_1_sum 20 16
new_merchants_category_2_mean 1647 1459
new_merchants_category_4_sum 63 62

In [23]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,installments_exception
0,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37,0
1,1,C_ID_4e6213e9bc,88,1,0,0,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16,0
2,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37,0
3,1,C_ID_4e6213e9bc,88,1,0,0,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34,0
4,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37,0

In [22]:
historical_transactions['installments_exception'] = historical_transactions['installments'].apply(lambda x: np.where(x == -1, 1, 0))

In [25]:
new_merchant_transactions.query('installments == -1')

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
10,Y,C_ID_ef55cf8d4b,69,N,-1,NaN,45,M_ID_3ffd43b4cd,1,4.452265,2018-03-31 09:55:40,1.0,9,18
189,Y,C_ID_fd55871fd8,187,N,-1,NaN,367,M_ID_2a7d376053,1,-0.329366,2018-02-10 09:33:55,1.0,15,16
270,Y,C_ID_6bf003900f,69,N,-1,NaN,884,M_ID_1b3e5a9b05,1,-0.596673,2018-03-02 18:00:10,1.0,9,27
306,Y,C_ID_e4d60467c2,69,N,-1,NaN,274,M_ID_2da56d089d,1,-0.596643,2018-03-22 13:49:08,1.0,9,36
402,Y,C_ID_cb2269c52d,213,N,-1,NaN,34,M_ID_6972fc7624,2,-0.416325,2018-04-26 14:36:11,1.0,9,38
410,Y,C_ID_cb2269c52d,213,N,-1,NaN,834,M_ID_59f6ac5d37,1,-0.410524,2018-03-09 14:26:28,1.0,9,27
447,Y,C_ID_b25d492593,308,N,-1,NaN,422,M_ID_9b6a46e720,2,-0.686802,2018-04-13 12:01:02,1.0,16,27
448,Y,C_ID_b25d492593,308,N,-1,NaN,45,M_ID_81dcc31929,2,-0.536537,2018-04-21 07:29:12,1.0,16,18
468,Y,C_ID_2bba08c2c4,107,N,-1,NaN,518,M_ID_f95f2434d4,2,-0.611804,2018-04-20 08:34:02,4.0,4,27
641,Y,C_ID_c5bf64ecbd,19,N,-1,NaN,434,M_ID_3dfd6d6de7,1,2.108129,2018-03-10 08:12:11,1.0,9,32
650,Y,C_ID_c5bf64ecbd,314,N,-1,NaN,531,M_ID_0635569403,2,-0.595365,2018-04-13 12:48:04,1.0,9,27
689,Y,C_ID_da88b91cbc,57,N,-1,NaN,792,M_ID_d0b175bdd0,2,0.154683,2018-04-07 14:29:34,5.0,5,9
701,Y,C_ID_5004574fff,14,N,-1,NaN,45,M_ID_5ff5cad754,1,-0.386272,2018-03-26 07:16:46,5.0,20,18
828,Y,C_ID_6fcd727ed0,340,N,-1,NaN,884,NaN,1,-0.476581,2018-02-07 14:32:46,1.0,9,27
874,Y,C_ID_56fb263b38,187,N,-1,NaN,367,M_ID_301d069133,1,-0.634509,2018-03-27 10:02:42,1.0,15,16
877,Y,C_ID_56fb263b38,248,N,-1,NaN,367,M_ID_46c0f26767,1,-0.423537,2018-03-09 14:23:22,1.0,15,16
968,Y,C_ID_3d5f4353dc,-1,N,-1,NaN,422,M_ID_35b0b80b94,1,-0.506484,2018-03-04 12:49:39,NaN,-1,27
1141,Y,C_ID_dd1a3aa1bf,244,N,-1,NaN,45,M_ID_b7459adc65,1,0.229815,2018-03-20 11:21:50,3.0,2,18
1149,Y,C_ID_dd1a3aa1bf,244,N,-1,NaN,309,M_ID_59764e8cb1,2,-0.392973,2018-04-26 14:05:17,3.0,2,21
1161,Y,C_ID_bd08b924db,69,N,-1,NaN,840,M_ID_bda5edd84f,2,0.303445,2018-04-27 10:27:27,1.0,9,20
1239,Y,C_ID_61c93b274d,244,N,-1,NaN,373,M_ID_6a622dd991,2,-0.378758,2018-04-02 12:02:10,3.0,2,18
1301,Y,C_ID_044d27650c,147,N,-1,NaN,703,M_ID_2f4a4d5d39,2,-0.625253,2018-02-16 11:34:45,3.0,19,29
1487,Y,C_ID_ec7815f725,322,N,-1,NaN,631,M_ID_13334d10c2,2,0.906008,2018-04-20 09:05:05,3.0,11,25
1494,Y,C_ID_ec7815f725,69,N,-1,NaN,779,M_ID_c11d31a608,1,-0.058724,2018-03-27 07:30:59,1.0,9,27
1502,Y,C_ID_ec7815f725,320,N,-1,NaN,68,M_ID_dc5bc34894,2,0.076545,2018-04-16 12:00:39,4.0,13,27
1514,Y,C_ID_c7da013440,69,N,-1,NaN,367,M_ID_63879facaf,1,-0.626696,2018-03-28 14:09:05,1.0,9,16
1515,Y,C_ID_c7da013440,69,N,-1,NaN,422,M_ID_2dc1b11650,2,-0.656749,2018-04-21 08:45:39,1.0,9,27
1519,Y,C_ID_4b3729d18b,4,N,-1,NaN,544,M_ID_ea75c2f71f,2,0.004418,2018-04-28 11:31:48,2.0,10,29
1627,Y,C_ID_8d1db9f336,158,N,-1,NaN,333,M_ID_0a2689c889,2,2.432702,2018-04-27 07:18:25,1.0,15,10
1695,Y,C_ID_41a3275a68,270,N,-1,NaN,45,M_ID_cc17d4c951,2,-0.220980,2017-12-22 12:54:57,1.0,16,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962489,Y,C_ID_79ff8291c6,-1,Y,-1,NaN,340,M_ID_4a42617458,1,6.522197,2018-03-01 05:13:37,NaN,-1,9
1962504,Y,C_ID_7335b53fc8,42,N,-1,NaN,215,M_ID_9b01664998,1,2.258395,2018-03-22 06:24:56,3.0,19,21
1962506,Y,C_ID_90d7e43b18,143,N,-1,NaN,45,M_ID_a1e1ee48e9,2,2.032997,2018-01-26 14:17:46,5.0,5,18
1962554,Y,C_ID_be3a40a61d,-1,N,-1,NaN,34,M_ID_6afd115ecd,2,1.280169,2018-03-03 04:47:17,NaN,-1,38
1962564,Y,C_ID_c9f7856547,274,N,-1,NaN,529,M_ID_f4a3561f74,1,-0.285594,2018-02-10 08:13:55,1.0,9,20
1962568,Y,C_ID_9946516e4e,4,N,-1,NaN,734,M_ID_8c97acdb74,2,-0.116696,2018-04-03 14:22:10,2.0,10,25
1962594,Y,C_ID_2fb41fe18b,69,N,-1,NaN,793,M_ID_253b66f4a5,1,1.788065,2018-03-31 10:48:24,1.0,9,38
1962598,Y,C_ID_e0972175ee,288,N,-1,NaN,614,M_ID_1759a56e9b,1,0.008775,2018-03-09 13:17:08,5.0,20,29
1962605,Y,C_ID_88f8968488,138,N,-1,NaN,222,M_ID_bbe9e562b0,2,-0.506378,2018-02-06 13:56:21,1.0,15,21
1962616,Y,C_ID_5ac82bb4d5,128,N,-1,NaN,68,M_ID_58945289bd,1,-0.633458,2018-03-01 07:43:53,1.0,9,27
1962618,Y,C_ID_043d2ac8e1,87,N,-1,NaN,40,M_ID_8f34a04d6e,1,3.069826,2018-03-01 12:05:18,3.0,11,21
1962695,Y,C_ID_214a989604,272,N,-1,NaN,667,M_ID_2b23761fb0,1,-0.074066,2018-03-10 07:19:39,1.0,9,21
1962699,Y,C_ID_deaf068798,137,N,-1,NaN,195,M_ID_0c17afb244,2,-0.210116,2018-04-16 08:39:29,3.0,19,34
1962760,Y,C_ID_727ffcb74a,85,N,-1,NaN,340,M_ID_b460a47001,1,1.507069,2018-02-19 07:58:17,3.0,8,9
1962762,Y,C_ID_1fa1f13955,251,N,-1,NaN,367,M_ID_4e3100e7ad,1,-0.694345,2018-03-09 09:47:48,3.0,8,16
1962773,Y,C_ID_c7434eef05,69,N,-1,NaN,544,M_ID_725a60d404,2,0.625013,2018-04-05 13:43:41,1.0,9,29
1962791,Y,C_ID_d5c12710a1,340,N,-1,NaN,333,M_ID_205c8c9f02,2,2.258395,2018-04-04 11:00:00,1.0,9,10
1962800,Y,C_ID_c51e71b69a,69,N,-1,NaN,302,M_ID_725a60d404,1,-0.637214,2018-03-09 15:34:55,1.0,9,22
1962808,Y,C_ID_18de3fee5f,57,N,-1,NaN,45,M_ID_3dba3ebf71,1,0.601992,2018-03-12 13:59:32,5.0,5,18
1962845,Y,C_ID_7aec9ea527,69,N,-1,NaN,506,M_ID_c04817d3ee,1,0.133646,2018-03-14 13:44:15,1.0,9,30
1962875,Y,C_ID_237fcdeabf,229,N,-1,NaN,34,M_ID_c928c49b04,1,-0.055688,2018-03-20 08:10:12,1.0,15,38
1962883,Y,C_ID_367e8f9998,339,N,-1,NaN,320,M_ID_8cc2c5727c,2,-0.015117,2018-04-20 10:28:23,1.0,9,7
1962900,Y,C_ID_db4bf72771,209,N,-1,NaN,45,NaN,2,0.906008,2018-04-20 06:01:54,1.0,9,18
1962947,Y,C_ID_14face1fa6,251,N,-1,NaN,333,M_ID_310ed72733,2,2.979667,2018-03-17 09:01:47,3.0,8,10
1962955,Y,C_ID_e17c1eab96,226,N,-1,NaN,422,M_ID_e8e0b552a9,1,-0.580114,2018-03-10 13:16:49,1.0,16,27
1962980,Y,C_ID_599c0ec681,160,N,-1,NaN,45,NaN,2,0.966115,2018-04-02 14:05:24,5.0,21,18
1962994,Y,C_ID_470e283982,57,N,-1,NaN,45,M_ID_5db79fda75,2,-0.356218,2018-04-27 10:53:28,5.0,5,18
1963000,Y,C_ID_2f783107da,94,N,-1,NaN,222,M_ID_0ed8010477,2,7.647924,2018-04-12 13:33:30,3.0,19,21
1963002,Y,C_ID_df4e6d6000,248,N,-1,NaN,34,M_ID_4247d8f9d5,2,-0.160874,2018-04-18 12:39:52,1.0,15,38
1963008,Y,C_ID_734044eeeb,212,N,-1,NaN,222,M_ID_d08abd9332,2,14.269401,2018-04-23 06:44:21,4.0,4,21

In [26]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,installments_exception
0,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37,0
1,1,C_ID_4e6213e9bc,88,1,0,0,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16,0
2,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37,0
3,1,C_ID_4e6213e9bc,88,1,0,0,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34,0
4,1,C_ID_4e6213e9bc,88,1,0,0,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37,0

In [27]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,hist_transactions_count,hist_category_1_sum,hist_category_1_mean,hist_category_2_nunique,hist_category_3_nunique,hist_merchant_id_nunique,hist_state_id_nunique,hist_subsector_id_nunique,hist_city_id_nunique,hist_merchant_category_id_nunique,hist_installments_nunique,hist_installments_mean,hist_installments_std,hist_purchase_amount_sum,hist_purchase_amount_mean,hist_purchase_amount_max,hist_purchase_amount_min,hist_purchase_amount_std,hist_purchase_month_median,hist_purchase_month_max,hist_purchase_month_min,hist_purchase_month_std,hist_purchase_date_max,hist_purchase_date_min,hist_month_diff_median,hist_month_diff_max,hist_month_diff_min,hist_month_diff_std,hist_purchase_date_diff,hist_purchase_date_average,hist_purchase_date_uptonow,hist_last_180_installments_mean,hist_last_180_installments_std,hist_last_180_purchase_amount_mean,hist_last_180_purchase_amount_std,hist_last_180_purchase_amount_sum,hist_last_30_installments_mean,hist_last_30_installments_std,hist_last_30_purchase_amount_mean,hist_last_30_purchase_amount_std,hist_last_30_purchase_amount_sum,hist_last_7_installments_mean,hist_last_7_installments_std,hist_last_7_purchase_amount_mean,hist_last_7_purchase_amount_std,hist_last_7_purchase_amount_sum,hist_last_90_installments_mean,hist_last_90_installments_std,hist_last_90_purchase_amount_mean,hist_last_90_purchase_amount_std,hist_last_90_purchase_amount_sum,Y_hist_auth_category_1_sum,Y_hist_auth_category_1_mean,Y_hist_auth_category_2_nunique,Y_hist_auth_category_3_nunique,Y_hist_auth_merchant_id_nunique,Y_hist_auth_state_id_nunique,Y_hist_auth_subsector_id_nunique,Y_hist_auth_city_id_nunique,Y_hist_auth_merchant_category_id_nunique,Y_hist_auth_installments_nunique,Y_hist_auth_installments_mean,Y_hist_auth_installments_std,Y_hist_auth_purchase_amount_sum,Y_hist_auth_purchase_amount_mean,Y_hist_auth_purchase_amount_max,Y_hist_auth_purchase_amount_min,Y_hist_auth_purchase_amount_std,Y_hist_auth_purchase_month_median,Y_hist_auth_purchase_month_max,Y_hist_auth_purchase_month_min,Y_hist_auth_purchase_month_std,Y_hist_auth_purchase_date_max,Y_hist_auth_purchase_date_min,Y_hist_auth_month_diff_median,Y_hist_auth_month_diff_max,Y_hist_auth_month_diff_min,Y_hist_auth_month_diff_std,Y_hist_auth_purchase_date_diff,Y_hist_auth_purchase_date_average,Y_hist_auth_purchase_date_uptonow,N_hist_auth_category_1_sum,N_hist_auth_category_1_mean,N_hist_auth_category_2_nunique,N_hist_auth_category_3_nunique,N_hist_auth_merchant_id_nunique,N_hist_auth_state_id_nunique,N_hist_auth_subsector_id_nunique,N_hist_auth_city_id_nunique,N_hist_auth_merchant_category_id_nunique,N_hist_auth_installments_nunique,N_hist_auth_installments_mean,N_hist_auth_installments_std,N_hist_auth_purchase_amount_sum,N_hist_auth_purchase_amount_mean,N_hist_auth_purchase_amount_max,N_hist_auth_purchase_amount_min,N_hist_auth_purchase_amount_std,N_hist_auth_purchase_month_median,N_hist_auth_purchase_month_max,N_hist_auth_purchase_month_min,N_hist_auth_purchase_month_std,N_hist_auth_purchase_date_max,N_hist_auth_purchase_date_min,N_hist_auth_month_diff_median,N_hist_auth_month_diff_max,N_hist_auth_month_diff_min,N_hist_auth_month_diff_std,N_hist_auth_purchase_date_diff,N_hist_auth_purchase_date_average,N_hist_auth_purchase_date_uptonow,hist_Y_month_lag_mean,hist_Y_month_lag_std,hist_Y_purchase_amount_min_mean,hist_Y_purchase_amount_min_std,hist_Y_purchase_amount_max_mean,hist_Y_purchase_amount_max_std,hist_Y_purchase_amount_mean_mean,hist_Y_purchase_amount_mean_std,hist_Y_purchase_amount_std_mean,hist_Y_purchase_amount_std_std,hist_Y_installments_mean_mean,hist_Y_installments_mean_std,hist_Y_installments_sum_mean,hist_Y_installments_sum_std,hist_Y_installments_std_mean,hist_Y_installments_std_std,hist_N_month_lag_mean,hist_N_month_lag_std,hist_N_purchase_amount_min_mean,hist_N_purchase_amount_min_std,hist_N_purchase_amount_max_mean,hist_N_purchase_amount_max_std,hist_N_purchase_amount_mean_mean,hist_N_purchase_amount_mean_std,hist_N_purchase_amount_std_mean,hist_N_purchase_amount_std_std,hist_N_installments_mean_mean,hist_N_installments_mean_std,hist_N_installments_sum_mean,hist_N_installments_sum_std,hist_N_installments_std_mean,hist_N_installments_std_std,hist_1_2017_rate,hist_2_2017_rate,hist_3_2017_rate,hist_4_2017_rate,hist_5_2017_rate,hist_6_2017_rate,hist_7_2017_rate,hist_8_2017_rate,hist_9_2017_rate,hist_10_2017_rate,hist_11_2017_rate,hist_12_2017_rate,hist_1_2018_rate,hist_2_2018_rate,hist_cumusum_sum_purchase_amount0,hist_cumusum_sum_purchase_amount1,hist_cumusum_sum_purchase_amount2,hist_cumusum_sum_purchase_amount3,hist_cumusum_sum_purchase_amount4,hist_cumusum_sum_purchase_amount5,hist_cumusum_sum_purchase_amount6,hist_cumusum_sum_purchase_amount7,hist_cumusum_sum_purchase_amount8,hist_cumusum_sum_purchase_amount9,hist_cumusum_sum_purchase_amount10,hist_cumusum_sum_purchase_amount11,hist_cumusum_sum_purchase_amount12,hist_cumusum_sum_purchase_amount13,hist_cumsum_count_purchase_amount0,hist_cumsum_count_purchase_amount1,hist_cumsum_count_purchase_amount2,hist_cumsum_count_purchase_amount3,hist_cumsum_count_purchase_amount4,hist_cumsum_count_purchase_amount5,hist_cumsum_count_purchase_amount6,hist_cumsum_count_purchase_amount7,hist_cumsum_count_purchase_amount8,hist_cumsum_count_purchase_amount9,hist_cumsum_count_purchase_amount10,hist_cumsum_count_purchase_amount11,hist_cumsum_count_purchase_amount12,hist_cumsum_count_purchase_amount13,hist_mean_installments_13,hist_mean_installments_12,hist_mean_installments_11,hist_mean_installments_10,hist_mean_installments_9,hist_mean_installments_8,hist_mean_installments_7,hist_mean_installments_6,hist_mean_installments_5,hist_mean_installments_4,hist_mean_installments_3,hist_mean_installments_2,hist_mean_installments_1,hist_mean_installments_0,new_transactions_count,new_category_1_sum,new_category_1_mean,new_category_2_nunique,new_category_3_nunique,new_merchant_id_nunique,new_state_id_nunique,new_subsector_id_nunique,new_city_id_nunique,new_merchant_category_id_nunique,new_installments_nunique,new_installments_mean,new_installments_std,new_purchase_amount_sum,new_purchase_amount_mean,new_purchase_amount_max,new_purchase_amount_min,new_purchase_amount_std,new_purchase_month_median,new_purchase_month_max,new_purchase_month_min,new_purchase_month_std,new_purchase_date_max,new_purchase_date_min,new_month_diff_median,new_month_diff_max,new_month_diff_min,new_month_diff_std,new_purchase_date_diff,new_purchase_date_average,new_purchase_date_uptonow,new_cumusum_sum_purchase_amount0,new_cumusum_sum_purchase_amount1,new_cumsum_count_purchase_amount0,new_cumsum_count_purchase_amount1,new_mean_installments_1,new_mean_installments_2,sum_numerical_sum,sum_numerical_mean,rate_lag3_sum,rate_lag3_mean,rate_lag6_sum,rate_lag6_mean,rate_lag12_sum,rate_lag12_mean,hist_merchants_merchant_group_id_nunique,hist_merchants_merchant_category_id_nunique,hist_merchants_numerical_1_sum,hist_merchants_numerical_1_mean,hist_merchants_numerical_2_sum,hist_merchants_numerical_2_mean,hist_merchants_category_1_sum,hist_merchants_category_2_mean,hist_merchants_category_4_sum,new_merchants_merchant_group_id_nunique,new_merchants_merchant_category_id_nunique,new_merchants_numerical_1_sum,new_merchants_numerical_1_mean,new_merchants_numerical_2_sum,new_merchants_numerical_2_mean,new_merchants_category_1_sum,new_merchants_category_2_mean,new_merchants_category_4_sum
0,2017-06,C_ID_92a2005557,5,2,1,260,260,1.000000,2,2,94,3,21,7,41,2,0.015381,0.123291,-165.968735,-0.638184,2.258394,-0.739258,0.212158,8.0,12,1,3.474609,1.519551e+09,1.498573e+09,-1.0,0,-1,0.342041,242,0.930664,3,0.018293,0.134418,-0.610294,0.258191,-100.088244,0.000000,0.000000,-0.675903,0.063957,-16.221660,0.000000,0.00000,-0.577446,0.064720,-2.309785,0.000000,0.000000,-0.589275,0.319941,-60.106062,247,1.000000,2,1,93,3,21,7,41,1,0.000000,0.000000,-157.375000,-0.637207,2.257812,-0.739258,0.216553,8.0,12,1,3.529297,1.519551e+09,1.498573e+09,0.0,1,-1,0.209595,242,0.930664,3,13.0,1.000000,1.0,2.0,12.0,1.0,7.0,2.0,10.0,2.0,0.307617,0.480469,-8.571724,-0.659363,-0.431922,-0.737892,0.098851,10.0,12.0,7.0,1.664062,1.514385e+09,1.500131e+09,0.0,0.0,0.0,0.000000,164.0,0.630859,63.0,-4.000000,2.738281,-0.732910,0.008797,-0.158813,0.916016,-0.650391,0.052277,0.109558,0.119202,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.500000,1.871094,-0.664760,0.118497,-0.608962,0.127612,-0.637972,0.119344,0.051086,0.050203,0.319336,0.423096,0.666504,0.816406,0.269287,0.312500,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,1.979492,2.888672,3.837891,4.703125,5.605469,6.570312,7.570312,8.570312,0.00000,0.000000,0.000000,0.000000,0.000000,-2.071300,-34.898127,-65.880495,-78.665487,-93.076859,-106.591553,-136.876331,-150.418854,-165.968740,0.0,0.0,0.0,0.0,0.0,3.0,52.0,96.0,116.0,138.0,159.0,216.0,237.0,260.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022720,0.049988,0.090881,0.000000,0.000000,0.000000,0.000000,23.0,23.0,1.000000,1.0,1.0,23.0,1.0,10.0,3.0,14.0,1.0,0.000000,0.000000,-13.242188,-0.575684,-0.296143,-0.724609,0.135742,3.0,4.0,3.0,0.510742,1.525001e+09,1.520259e+09,-1.0,-1.0,-1.0,0.000000,54.0,2.347656,-60.0,-6.6902,-13.2439,12.0,23.0,0.000,0.000000,7962.109942,31.346890,246.906145,0.972071,244.205152,0.961438,244.044564,0.960805,73,38,4056.00000,15.968750,3906.00000,15.382812,19.0,1.050781,242.0,17.0,14.0,634.000000,27.562500,626.000000,27.218750,0.0,1.000000,19.0
1,2017-01,C_ID_3d0044924f,4,1,0,350,319,0.911621,1,3,142,3,24,9,57,9,1.551758,1.510742,-210.006332,-0.600098,4.630300,-0.742188,0.385010,7.0,12,1,3.847656,1.517438e+09,1.483720e+09,0.0,1,0,0.353271,390,1.114258,28,1.469136,1.383904,-0.628800,0.269110,-101.865520,1.000000,0.000000,-0.730304,0.002758,-2.921214,NaN,NaN,NaN,NaN,0.000000,1.206186,0.611319,-0.684021,0.130739,-66.350014,310,0.914551,1,3,141,3,24,9,57,9,1.477539,1.350586,-208.875000,-0.616211,4.628906,-0.742188,0.355469,6.0,12,1,3.859375,1.517438e+09,1.483720e+09,1.0,2,0,0.315674,390,1.114258,28,9.0,0.818359,1.0,2.0,9.0,2.0,9.0,2.0,9.0,6.0,3.818359,3.488281,-1.122886,-0.102081,1.942838,-0.740897,0.785906,9.0,12.0,3.0,2.697266,1.514467e+09,1.488576e+09,1.0,2.0,1.0,0.404541,299.0,0.854492,62.0,-6.000000,3.894531,-0.736816,0.005142,0.510742,1.327148,-0.593750,0.095520,0.282227,0.283936,1.625977,0.446533,38.687500,13.570312,1.354492,0.803223,-5.332031,3.326172,-0.292969,0.471576,0.154320,0.970537,-0.148523,0.438508,0.535645,0.757790,4.035156,3.521484,7.000000,7.640625,1.782227,2.519531,1.0,2.000000,2.923828,3.923828,4.855469,5.855469,6.835938,7.835938,8.625000,9.585938,10.585938,11.546875,12.546875,12.546875,0.00000,-7.402525,-19.876619,-25.484272,-35.846976,-44.902147,-67.445431,-99.083886,-107.024767,-116.430702,-132.638779,-143.234588,-174.948162,-210.006336,0.0,21.0,43.0,56.0,74.0,89.0,123.0,172.0,186.0,210.0,236.0,252.0,299.0,350.0,0.0,1.571289,2.136719,2.615234,2.054688,1.933594,1.323242,1.183594,1.713867,2.750000,1.345703,1.312500,1.260742,1.160156,6.0,6.0,1.000000,1.0,1.0,6.0,1.0,4.0,1.0,5.0,1.0,1.000000,0.000000,-4.355469,-0.726074,-0.701660,-0.739258,0.014397,2.5,3.0,2.0,0.547852,1.522393e+09,1.517505e+09,0.0,1.0,0.0,0.408203,56.0,9.335938,-30.0,-2.2047,-4.3557,3.0,6.0,1.000,1.000000,19707.081308,56.305947,338.471943,0.967063,337.172427,0.963350,337.773534,0.965067,102,54,9960.00000,28.453125,9752.00000,27.859375,47.0,1.000000,321.0,6.0,5.0,3.273438,0.545898,3.224609,0.537598,0.0,1.000000,6.0
2,2016-08,C_ID_d639edf6cd,2,2,0,43,43,1.000000,2,1,13,2,7,5,8,1,0.000000,0.000000,-29.167391,-0.678223,-0.145847,-0.729980,0.087402,4.0,12,1,3.275391,1.519759e+09,1.484123e+09,-1.0,0,-1,0.293945,412,9.578125,1,0.000000,0.000000,-0.635395,0.163704,-6.989342,0.000000,NaN,-0.661287,NaN,-0.661287,0.000000,NaN,-0.661287,NaN,-0.661287,0.000000,0.000000,-0.550586,0.270497,-2.202346,41,1.000000,2,1,13,2,7,5,8,1,0.000000,0.000000,-27.828125,-0.678711,-0.145874,-0.729980,0.089233,4.0,12,1,3.330078,1.519759e+09,1.484123e+09,0.0,1,0,0.156128,412,9.578125,1,2.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.000000,0.000000,-1.338967,-0.669484,-0.637515,-0.701453,0.045211,3.0,4.0,2.0,1.414062,1.492801e+09,1.487878e+09,0.0,0.0,0.0,0.000000,56.0,1.302734,313.0,-6.667969,4.398438,-0.706543,0.018799,-0.621094,0.151733,-0.669434,0.080688,0.065918,0.119019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-11.000000,1.414062,-0.669484,0.045211,-0.669484,0.045211,-0.669484,0.045211,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.0,1.833008,2.833984,3.691406,4.691406,4.691406,5.691406,6.691406,7.691406,8.687500,8.687500,9.687500,10.687500,11.687500,-4.17127,-8.271328,-11.831229,-16.648263,-19.397363,-19.397363,-20.791433,-22.178050,-22.880088,-26.965046,-26.965046,-27.672854,-28.506104,-29.167391,6.0,12.0,17.0,24.0,28.0,28.0,30.0,32.0,33.0,39.0,39.0,40.0,42.0,43.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.000000,NaN,-0.700195,-0.700195,-0.700195,-0.700195,NaN,4.0,4.0,4.0,NaN,1.524937e+09,1.524937e+09,-1.0,-1.0,-1.0,NaN,0.0,0.000000,-59.0,0.0000,-0.7000,0.0,1.0,0.000,0.000000,100.009090,2.325793,41.752072,0.970978,41.337093,0.961328,41.213346,0.958450,9,9,53.84375,1.251953,46.15625,1.073242,1.0,4.714844,40.0,1.0,1.0,-0.027725,-0.027725,-0.037628,-0.037628,0.0,5.000000,1.0
3,2017-09,C_ID_186d6a6901,4,3,0,77,65,0.844238,2,3,50,5,13,7,25,4,1.090820,0.588867,-49.491364,-0.642578,1.445596,-0.740723,0.261719,10.0,12,1,3.904297,1.519818e+09,1.506443e+09,-1.0,0,-1,0.269775,154,2.000000,0,1.146667,0.484722,-0.647980,0.262926,-48.598534,1.176471,0.528594,-0.674845,0.115199,-11.472366,1.000000,0.00000,-0.719186,0.017411,-4.315118,1.111111,0.423659,-0.670583,0.102048,-18.105730,65,0.844238,2,3,50,5,13,7,25,4,1.090820,0.588867,-49.500000,-0.642578,1.445312,-0.740723,0.261719,10.0,12,1,3.904297,1.519818e+09,1.506443e+09,0.0,0,-1,0.113953,154,2.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.223372e+09,-9.223372e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.500000,1.871094,-0.734375,0.009071,-0.137451,0.790039,-0.606445,0.186035,0.201782,0.311279,1.164062,0.258789,14.335938,11.273438,0.310059,0.356445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.849759,-29.119531,-30.999318,-34.936369,-38.735853,-49.491364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,42.0,49.0,55.0,61.0,77.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.128906,1.666992,1.000000,1.000000,1.187500,7.0,6.0,0.856934,1.0,2.0,7.0,2.0,5.0,2.0,6.0,2.0,0.714355,0.755859,-4.656250,-0.665039,-0.566895,-0.734375,0.065918,4.0,4.0,3.0,0.488037,1.524049e+09,1.520424e+09,-1.0,-1.0,-1.0,0.000000,41.0,5.855469,-49.0,-1.2822,-4.6550,2.0,7.0,1.000,0.600098,583.187380,7.573862,71.504955,0.928636,71.699208,0.931159,71.579492,0.929604,39,23,294.75000,3.830078,288.25000,3.744141,21.0,3.839844,75.0,5.0,6.0,0.985840,0.140869,0.946289,0.135132,1.0,3.427734,7.0
4,2017-11,C_ID_cdbd2c0db2,1,3,0,133,118,0.887207,3,2,66,6,17,6,26,4,1.368164,1.896484,-48.687656,-0.365967,7.193041,-0.746094,1.352539,2.0,12,1,5.003906,1.519850e+09,1.510445e+09,-1.0,0,-1,0.252197,108,0.812012,0,1.368421,1.896862,-0.366073,1.352094,-48.687656,2.128205,3.380902,0.184569,2.374459,7.198195,3.588235,4.80961,1.127303,3.411363,19.164151,1.401786,2.050971,-0.346547,1.448614,-38.813225,116,0.906250,3,2,65,6,17,6,26,4,1.125000,1.003906,-69.062500,-0.539551,6.992188,-0.746094,0.737305,2.0,12,1,5.042969,1.519850e+09,1.510445e+09,0.0,0,-1,0.151855,108,0.812012,0,2.0,0.399902,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7.601562,6.023438,20.352810,4.070562,7.193041,-0.512945,4.184950,2.0,2.0,1.0,0.547852,1.519759e+09,1.516485e+09,0.0,0.0,0.0,0.000000,37.0,0.278076,1.0,-1.500000,1.291016,-0.731934,0.016266,2.259766,3.343750,-0.525391,0.137329,0.568359,0.578125,1.141602,0.158447,36.000000,9.125000,0.681641,0.878906,-0.500000,0.707031,3.239836,5.307234,3.340048,5.448955,3.306644,5.401715,0.057861,0.081823,6.500000,7.777344,19.000000,24.046875,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,2.957031,3.871094,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.874432,-29.780157,-58.643021,-48.687656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,52.0,98.0,133.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.190430,1.032227,1.000000,2.257812,36.0,34.0,0.944336,3.0,3.0,36.0,5.0,10.0,5.0,17.0,3.0,0.972168,0.376953,-19.921875,-0.553711,0.450928,-0.739258,0.223877,4.0,4.0,3.0,0.503906,1.524941e+09,1.519992e+09,-1.0,0.0,-1.0,0.377930,57.0,1.583008,-59.0,-9.6057,-19.9269,16.0,36.0,0.875,1.049805,854.739540,6.475300,126.997041,0.962099,128.085896,0.970348,126.791312,0.960540,52,26,430.75000,3.263672,423.75000,3.210938,26.0,3.943359,125.0,30.0,19.0,51.250000,1.423828,49.937500,1.387695,4.0,3.277344,26.0

In [29]:
train.card_id.nunique(), len(train.card_id.unique())

(201917, 201917)

In [36]:
import os
import gc

import pandas as pd
import numpy as np
import pickle as pkl
from datetime import date

from keras.layers.normalization import BatchNormalization
from keras.models import Sequential, Model
from keras.layers import Input, Embedding, Dense, Flatten, Concatenate, Dot, Reshape, Add, Subtract
from keras import backend as K
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping
from keras.regularizers import l2

PREF = 'f503'

KEY = 'card_id'

SEED = 18
np.random.seed(SEED)

# =============================================================================
# def
# =============================================================================
def get_embed(x_input, x_size, k_latent):
    if x_size > 0:  
        embed = Embedding(x_size, k_latent, input_length=1,
                          embeddings_regularizer=l2(embedding_reg))(x_input)
        embed = Flatten()(embed)
    else:
        embed = Dense(k_latent, kernel_regularizer=l2(embedding_reg))(x_input)
    return embed


def build_model_1(X, fsize):
    dim_input = len(fsize)

    input_x = [Input(shape=(1,)) for i in range(dim_input)]

    biases = [get_embed(x, size, 1) for (x, size) in zip(input_x, fsize)]

    factors = [get_embed(x, size, k_latent)
               for (x, size) in zip(input_x, fsize)]

    s = Add()(factors)

    diffs = [Subtract()([s, x]) for x in factors]

    dots = [Dot(axes=1)([d, x]) for d, x in zip(diffs, factors)]

    x = Concatenate()(biases + dots)
    x = BatchNormalization()(x)
    output = Dense(1, activation='relu', kernel_regularizer=l2(kernel_reg))(x)
    model = Model(inputs=input_x, outputs=[output])
    opt = Adam(clipnorm=0.5)
    model.compile(optimizer=opt, loss='mean_squared_error')
    output_f = factors + biases
    model_features = Model(inputs=input_x, outputs=output_f)

    return model, model_features

/anaconda/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [40]:
df = pd.read_csv(os.path.join(PATH, 'historical_transactions.csv'))
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

In [56]:
features = ['city_id', 'merchant_category_id', 'state_id', 'subsector_id']
fsize = [int(df[f].max()) + 1 for f in features]

X = df.groupby(features)['card_id'].count()

X = X.unstack().fillna(0)
X = X.stack().astype('float32')
X = np.log1p(X).reset_index()
X.columns = features + ['num']

X_train = np.array([X[f].values for f in features])
y_train = (X[['num']].values).astype('float32')

In [57]:
# X_train = X_train.transpose((1, 0))

In [61]:
y_train = y_train.transpose((1, 0))

In [62]:
X.nunique()

city_id                  308
merchant_category_id     327
state_id                  25
subsector_id              41
num                     3388
dtype: int64

In [63]:
X_train.shape, y_train.shape

((4, 2280297), (1, 2280297))

In [64]:
k_latent = 1
embedding_reg = 0.0002
kernel_reg = 0.1

model, model_features = build_model_1(X_train, fsize)

n_epochs = 1000

batch_size = 2 ** 17
model, model_features = build_model_1(X_train, fsize)
earlystopper = EarlyStopping(patience=0, verbose=50)

history = model.fit(
    X_train,  y_train,
    epochs=n_epochs, batch_size=batch_size, verbose=1, shuffle=True,
    validation_data=(X_train, y_train),
    callbacks=[earlystopper],
)

X_pred = model_features.predict(X_train, batch_size=batch_size)

factors = X_pred[:len(features)]

biases = X_pred[len(features):2*len(features)]

for f, X_p in zip(features, factors):
    for i in range(k_latent):
        X['%s_fm_factor_%d' % (f, i)] = X_p[:, i]

for f, X_p in zip(features, biases):
    X['%s_fm_bias' % (f)] = X_p[:, 0]

ValueError: Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 4 array(s), but instead got the following list of 1 arrays: [array([[ -1,  -1,  -1, ..., 347, 347, 347],
       [ -1,  -1,  -1, ..., 891, 891, 891],
       [ -1,  -1,  -1, ...,  20,  20,  20],
       [ -1,   1,   2, ...,  39,  40,  41]])]...

In [70]:
historical_transactions = pd.read_csv('../input/historical_transactions.csv')

In [71]:
historical_transactions[historical_transactions.category_2.isna()].shape

(2652864, 14)

In [72]:
historical_transactions.shape

(29112361, 14)

In [73]:
historical_transactions[historical_transactions.category_3.isna()].shape

(178159, 14)

In [74]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [75]:
historical_transactions[historical_transactions.merchant_id.isna()].shape

(138481, 14)

In [78]:
historical_transactions[['category_1', 'category_2']].apply('max', axis=1)

0           1.0
1           1.0
2           1.0
3           1.0
4           1.0
5           1.0
6           1.0
7           1.0
8           1.0
9           1.0
10          1.0
11          NaN
12          1.0
13          1.0
14          1.0
15          1.0
16          1.0
17          1.0
18          1.0
19          1.0
20          1.0
21          1.0
22          1.0
23          1.0
24          1.0
25          1.0
26          1.0
27          1.0
28          1.0
29          1.0
           ...
29112331    1.0
29112332    NaN
29112333    NaN
29112334    NaN
29112335    1.0
29112336    1.0
29112337    3.0
29112338    3.0
29112339    1.0
29112340    NaN
29112341    NaN
29112342    NaN
29112343    4.0
29112344    4.0
29112345    4.0
29112346    3.0
29112347    3.0
29112348    1.0
29112349    NaN
29112350    NaN
29112351    1.0
29112352    1.0
29112353    2.0
29112354    NaN
29112355    2.0
29112356    NaN
29112357    NaN
29112358    1.0
29112359    1.0
29112360    1.0
Length: 29112361, dtype: float64