In [24]:
import os
import sys
import gc

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [25]:
PATH = os.path.join('..', 'remove_outlier_data')

train = pd.read_csv(os.path.join(PATH, 'train.csv'))
test = pd.read_csv(os.path.join(PATH, 'test.csv'))

In [26]:
train = train.sort_values('first_active_month').reset_index(drop=True)

In [27]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,outliers_mean,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_weekofyear,first_active_month_quarter,elapsed_time,days_feature_1,days_feature_2,days_feature_3
0,2011-11-01,C_ID_f25b3d3f13,3,1,1,0.645766,0.007070,2011,1,11,44,4,2284,6852,2284,2284
1,2011-11-01,C_ID_2dbbc2b7fd,3,3,1,-0.069560,0.016459,2011,1,11,44,4,2284,6852,6852,2284
2,2011-11-01,C_ID_0a70866829,3,1,1,-2.544361,0.007070,2011,1,11,44,4,2284,6852,2284,2284
3,2011-11-01,C_ID_08cb8e0333,3,3,1,-3.573636,0.016459,2011,1,11,44,4,2284,6852,6852,2284
4,2011-11-01,C_ID_d26de4d1bf,3,3,1,-0.693447,0.016459,2011,1,11,44,4,2284,6852,6852,2284

In [28]:
test = test.sort_values('first_active_month').reset_index(drop=True)

In [29]:
test.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,outliers_mean,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_weekofyear,first_active_month_quarter,elapsed_time,days_feature_1,days_feature_2,days_feature_3
0,2011-11-01,C_ID_b3334831be,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
1,2011-11-01,C_ID_af9b01c5b0,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
2,2011-11-01,C_ID_22f6678098,3,1,1,0.007070,2011,1,11,44,4,2284,6852,2284,2284
3,2011-12-01,C_ID_1ed74e7415,3,3,1,0.016459,2011,3,12,48,4,2254,6762,6762,2254
4,2011-12-01,C_ID_dcdf88cb4d,3,1,1,0.007070,2011,3,12,48,4,2254,6762,2254,2254

In [30]:
train.nunique()

first_active_month                   75
card_id                          201917
feature_1                             5
feature_2                             3
feature_3                             2
target                           197110
outliers_mean                        14
first_active_month_year               8
first_active_month_weekday            7
first_active_month_month             12
first_active_month_weekofyear        21
first_active_month_quarter            4
elapsed_time                         75
days_feature_1                      224
days_feature_2                      177
days_feature_3                       75
dtype: int64

In [31]:
test.nunique()

first_active_month                   75
card_id                          123623
feature_1                             5
feature_2                             3
feature_3                             2
outliers_mean                        14
first_active_month_year               8
first_active_month_weekday            7
first_active_month_month             12
first_active_month_weekofyear        21
first_active_month_quarter            4
elapsed_time                         75
days_feature_1                      223
days_feature_2                      171
days_feature_3                       76
dtype: int64

In [32]:
historical_transactions = pd.read_csv('../remove_outlier_data/historical_transactions.csv')

In [33]:
historical_transactions.nunique()

authorized_flag                2
card_id                   325540
city_id                      308
category_1                     2
installments                  14
category_3                     4
merchant_category_id         327
merchant_id               326311
month_lag                     14
purchase_amount           215013
purchase_date           16395299
category_2                     5
state_id                      25
subsector_id                  41
dtype: int64

In [35]:
historical_transactions = historical_transactions.sort_values('purchase_date').reset_index(drop=True)

In [36]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_da2090f28e,69,1,0,0,623,M_ID_f001319a61,-11,-0.686802,2017-01-01 00:00:08,1.0,9,4
1,1,C_ID_efced389a0,76,1,1,1,842,M_ID_18038b5ae7,-12,-0.566590,2017-01-01 00:00:59,3.0,2,37
2,1,C_ID_83561fe74a,233,1,1,1,661,M_ID_52d3026407,-13,-0.559227,2017-01-01 00:01:41,1.0,9,8
3,1,C_ID_479fd6392a,-1,0,1,1,839,M_ID_e5374dabc0,-1,-0.737892,2017-01-01 00:02:03,NaN,-1,29
4,1,C_ID_1cf6056088,69,1,0,0,278,M_ID_2cf6dc1f6f,-4,0.004418,2017-01-01 00:02:12,1.0,9,37

In [ ]:
new_merchant_transactions = pd.read_cs

In [62]:
merchants = pd.read_csv('../remove_outlier_data/merchants.csv')

In [63]:
merchants.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.05746,-0.05746,0,1,1,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,0,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.05746,-0.05746,0,1,1,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,0,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.05746,-0.05746,0,1,1,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,0,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.05746,-0.05746,1,1,1,NaN,...,NaN,4.666667,6,NaN,3.833333,12,1,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.05746,-0.05746,1,1,1,NaN,...,NaN,0.361111,6,NaN,0.347222,12,1,-1,-1,NaN

In [64]:
merchants.nunique()

merchant_id                    334633
merchant_group_id              109391
merchant_category_id              324
subsector_id                       41
numerical_1                       950
numerical_2                       944
category_1                          2
most_recent_sales_range             5
most_recent_purchases_range         5
avg_sales_lag3                   3372
avg_purchases_lag3             100003
active_months_lag3                  3
avg_sales_lag6                   4507
avg_purchases_lag6             135202
active_months_lag6                  6
avg_sales_lag12                  5009
avg_purchases_lag12            172917
active_months_lag12                12
category_4                          2
city_id                           271
state_id                           25
category_2                          5
dtype: int64