In [1]:
import pandas as pd

from datetime import datetime, date
from tqdm import tqdm_notebook as tqdm

In [31]:
train = pd.read_csv('../data/train.csv')

In [32]:
train['outliers'] = 0
train.loc[train['target'] < -30, 'outliers'] = 1

In [33]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,mean_feature_1,mean_feature_2,mean_feature_3,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_dayofweek,first_active_month_weekofyear,elapsed_time,outliers
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283,0.013145,0.008752,0.011428,2017,3,6,3,22,245,0
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913,0.010712,0.011385,0.010283,2017,6,1,6,52,396,0
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056,0.010610,0.008752,0.010283,2016,0,8,0,31,549,0
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495,0.010712,0.014166,0.010283,2017,4,9,4,35,153,0
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749,0.008058,0.014166,0.010283,2017,2,11,2,44,92,0

In [34]:
train.nunique()

first_active_month                   75
card_id                          201917
feature_1                             5
feature_2                             3
feature_3                             2
target                           197110
mean_feature_1                        5
mean_feature_2                        3
mean_feature_3                        2
first_active_month_year               8
first_active_month_weekday            7
first_active_month_month             12
first_active_month_dayofweek          7
first_active_month_weekofyear        21
elapsed_time                         75
outliers                              2
dtype: int64

In [35]:
train.first_active_month_year.unique()

array([2017, 2016, 2015, 2013, 2014, 2012, 2011, 2018])

In [36]:
train.elapsed_time.unique()

array([ 245,  396,  549,  153,   92,  518,  427,  184,  488,  702,  306,
        365,  580,  610,  123,  854,  671,  215,  762,  457,  823, 1737,
        731,  641, 1461,  276,   62,  337,  915, 1007, 1127, 1280, 1096,
       1341, 1311, 1433,  976, 1372,  793,  946, 1068,  884, 1492, 1402,
       1219, 1188, 1249, 1523, 1158, 1706, 1037, 1584, 1645, 1676, 2102,
       2010, 1949, 2071, 1979, 2132, 1888, 1553, 1614, 1767, 1918, 1857,
       2284, 1826, 2163, 2192, 1798,   31, 2041,    0, 2254])

In [37]:
outliers = train[train.outliers == 1].reset_index(drop=True)

In [38]:
outliers.shape

(2207, 16)

In [39]:
outliers.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,mean_feature_1,mean_feature_2,mean_feature_3,first_active_month_year,first_active_month_weekday,first_active_month_month,first_active_month_dayofweek,first_active_month_weekofyear,elapsed_time,outliers
0,2017-09-01,C_ID_8186f3fcc1,3,1,1,-33.219281,0.010479,0.011385,0.011428,2017,4,9,4,35,153,1
1,2015-05-01,C_ID_b9379a30ea,3,3,1,-33.219281,0.010479,0.014166,0.011428,2015,4,5,4,18,1007,1
2,2015-10-01,C_ID_e9120f535c,3,3,1,-33.219281,0.010479,0.014166,0.011428,2015,3,10,3,40,854,1
3,2017-03-01,C_ID_65715cb80d,4,2,0,-33.219281,0.010712,0.008752,0.010283,2017,2,3,2,9,337,1
4,2017-01-01,C_ID_ae77d244b6,2,1,0,-33.219281,0.010610,0.011385,0.010283,2017,6,1,6,52,396,1

In [40]:
outliers.nunique()

first_active_month                 65
card_id                          2207
feature_1                           5
feature_2                           3
feature_3                           2
target                              1
mean_feature_1                      5
mean_feature_2                      3
mean_feature_3                      2
first_active_month_year             6
first_active_month_weekday          7
first_active_month_month           12
first_active_month_dayofweek        7
first_active_month_weekofyear      21
elapsed_time                       65
outliers                            1
dtype: int64

In [41]:
outliers.first_active_month_year.unique()

array([2017, 2015, 2016, 2013, 2014, 2012])

In [42]:
outliers.elapsed_time.unique()

array([ 153, 1007,  854,  337,  396,  946,  245,  671,  427,  793,  731,
        580, 1523,  215,  457,  276,  488,  365,  306, 1492,  610,  976,
       1037,  549, 1127,  823,  915,  641,  184,  702, 1249,  123,  518,
       1311, 1280, 1219, 1341,  884, 1767, 1158, 1188, 1614,  762, 1433,
       1798, 1372, 1068, 1402, 1645, 1826, 2132, 1584, 2102, 1461, 1553,
       1737, 1096, 2010, 1676, 1949, 2071, 2041, 1979, 1857, 1918])

In [43]:
historical = pd.read_csv('../data/historical_transactions.csv')

In [45]:
outliers_historical = historical[historical.card_id.isin(outliers.card_id)]
historical = historical[historical.card_id.isin(train.card_id)]

In [46]:
outliers_historical.shape

(180105, 14)

In [47]:
historical.shape

(18030009, 14)

In [48]:
outliers_historical.nunique()

authorized_flag              2
card_id                   2207
city_id                    303
category_1                   2
installments                15
category_3                   4
merchant_category_id       270
merchant_id              35639
month_lag                   14
purchase_amount          25918
purchase_date           175817
category_2                   5
state_id                    25
subsector_id                41
dtype: int64

In [49]:
historical.nunique()

authorized_flag                2
card_id                   201917
city_id                      308
category_1                     2
installments                  15
category_3                     4
merchant_category_id         324
merchant_id               303897
month_lag                     14
purchase_amount           179316
purchase_date           12199110
category_2                     5
state_id                      25
subsector_id                  41
dtype: int64

In [59]:
om = set(outliers_historical.merchant_category_id.unique())

In [60]:
hm = set(historical.merchant_category_id.unique())

In [61]:
dm = hm.difference(om)

In [82]:
dm

{11,
 18,
 27,
 37,
 49,
 59,
 67,
 86,
 131,
 140,
 145,
 153,
 162,
 164,
 183,
 192,
 201,
 226,
 245,
 266,
 268,
 311,
 334,
 345,
 355,
 358,
 393,
 421,
 436,
 464,
 523,
 530,
 542,
 579,
 583,
 587,
 601,
 634,
 664,
 712,
 714,
 718,
 741,
 743,
 757,
 790,
 803,
 805,
 808,
 814,
 817,
 847,
 875,
 882}

In [58]:
oc = set(outliers_historical.city_id.unique())

In [63]:
hc = set(historical.city_id.unique())

In [64]:
dc = hc.difference(oc)

In [66]:
dc

{92, 185, 207, 273, 316}

In [69]:
outliers_historical.head(10)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
60010,1,C_ID_4dcdeb27e4,19,1,0,0,705,M_ID_912836d5d7,-5,-0.716975,2017-09-10 16:57:20,1.0,9,33
60011,1,C_ID_4dcdeb27e4,314,1,0,0,683,M_ID_7c5e93af2f,-11,-0.740897,2017-03-23 18:22:42,1.0,9,34
60012,1,C_ID_4dcdeb27e4,314,1,0,0,705,M_ID_46751e9713,-11,-0.721453,2017-03-13 16:01:39,1.0,9,33
60013,1,C_ID_4dcdeb27e4,19,1,0,0,560,M_ID_1fca6d4757,-10,-0.727974,2017-04-20 06:43:54,1.0,9,34
60014,1,C_ID_4dcdeb27e4,19,1,0,0,195,M_ID_5fff6ee392,-3,-0.730905,2017-11-10 16:20:25,1.0,9,34
60015,1,C_ID_4dcdeb27e4,314,1,0,0,705,M_ID_46751e9713,0,-0.744293,2018-02-21 12:29:06,1.0,9,33
60016,1,C_ID_4dcdeb27e4,19,1,0,0,734,M_ID_672e09f3bf,-7,-0.604306,2017-07-17 10:18:58,1.0,9,25
60017,1,C_ID_4dcdeb27e4,314,1,0,0,705,M_ID_46751e9713,-9,-0.744068,2017-05-20 13:02:59,1.0,9,33
60018,1,C_ID_4dcdeb27e4,314,1,0,0,683,M_ID_7c5e93af2f,-7,-0.739395,2017-07-13 15:07:10,1.0,9,34
60019,1,C_ID_4dcdeb27e4,314,1,0,0,705,M_ID_46751e9713,-13,-0.714946,2017-01-07 12:55:27,1.0,9,33

In [76]:
outliers_historical[outliers_historical.purchase_amount < -0.71].shape

(64646, 14)

In [85]:
outliers_historical[outliers_historical.authorized_flag == 0].nunique()

authorized_flag             1
card_id                  2003
city_id                   275
category_1                  2
installments               15
category_3                  4
merchant_category_id      219
merchant_id              6421
month_lag                  14
purchase_amount          6421
purchase_date           27876
category_2                  5
state_id                   25
subsector_id               40
dtype: int64

In [87]:
outliers_historical[outliers_historical.authorized_flag == 1].nunique()

authorized_flag              1
card_id                   2207
city_id                    303
category_1                   2
installments                14
category_3                   4
merchant_category_id       268
merchant_id              34491
month_lag                   14
purchase_amount          24481
purchase_date           148366
category_2                   5
state_id                    25
subsector_id                41
dtype: int64

In [70]:
historical.head(10)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
400,0,C_ID_5037ff576e,322,1,1,1,278,M_ID_b61c7d1be0,-3,-0.595260,2017-09-07 20:57:19,3.0,11,37
401,1,C_ID_5037ff576e,138,1,1,1,307,M_ID_fe69229f24,-4,1.189469,2017-08-14 15:46:08,1.0,15,19
402,1,C_ID_5037ff576e,138,1,1,1,705,M_ID_efc106141c,-9,-0.640069,2017-03-05 14:57:51,1.0,15,33
403,1,C_ID_5037ff576e,226,1,1,1,307,M_ID_708022307c,-4,-0.652256,2017-08-15 10:45:28,1.0,16,19
404,1,C_ID_5037ff576e,330,1,1,1,705,M_ID_393b4b8cec,-9,-0.674210,2017-03-26 20:00:31,3.0,17,33
405,1,C_ID_5037ff576e,138,1,1,1,307,M_ID_fe69229f24,-9,-0.671775,2017-03-09 18:32:05,1.0,15,19
406,1,C_ID_5037ff576e,278,1,1,1,705,M_ID_d70b0fd11b,-6,-0.627477,2017-06-07 19:39:09,5.0,5,33
407,0,C_ID_5037ff576e,221,1,1,1,307,M_ID_16cf5cd707,-1,-0.658296,2017-11-09 04:33:33,2.0,24,19
408,1,C_ID_5037ff576e,19,1,1,1,278,M_ID_6a5ddaaba7,-8,-0.696569,2017-04-26 10:20:17,1.0,9,37
409,1,C_ID_5037ff576e,331,1,1,1,332,M_ID_46ab73a225,-2,-0.521510,2017-10-19 21:54:37,1.0,16,2

In [86]:
historical[historical.authorized_flag == 0].nunique()

authorized_flag               1
card_id                  170958
city_id                     308
category_1                    2
installments                 15
category_3                    4
merchant_category_id        306
merchant_id              150955
month_lag                    14
purchase_amount           79086
purchase_date           1478839
category_2                    5
state_id                     25
subsector_id                 41
dtype: int64

In [88]:
historical[historical.authorized_flag == 1].nunique()

authorized_flag                1
card_id                   201917
city_id                      308
category_1                     2
installments                  15
category_3                     4
merchant_category_id         324
merchant_id               301783
month_lag                     14
purchase_amount           168347
purchase_date           11420898
category_2                     5
state_id                      25
subsector_id                  41
dtype: int64

In [77]:
historical[historical.purchase_amount < -0.71].shape

(6363998, 14)

In [78]:
historical.purchase_amount.min()

-0.7469078

In [80]:
historical.purchase_amount.max()

6010604.0

In [79]:
outliers_historical.purchase_amount.min()

-0.74689275

In [81]:
outliers_historical.purchase_amount.max()

87140.7